<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Wars</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
  <h4>Soy un h4</h4>

  <h1>El título de nuestro documento</h1>  

  <h2>Un subtitulo cualquiera</h2>

  <img src ='images/Princess Leia.jpg' alt = 'Princess Leia'>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi incidunt est omnis dicta. A, ipsa error! Exercitationem dignissimos nihil fuga quas libero ex itaque dolores, architecto eos nostrum earum ducimus?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aut omnis, doloribus aliquam culpa reprehenderit debitis deleniti ullam nisi cupiditate assumenda esse officiis ab, fuga autem nobis reiciendis eius ratione?</p>

  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ol>

  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>

  <a href = 'https://www.google.com' target="_blank">Ir a Google</a>

</body>
</html>